<!-- Load Facebook SDK for JavaScript -->

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v18.0&appId=651824621600320" nonce="jgl7TTLu"></script>
<div class="share-page">
    <div class="fb-share-button" data-layout="" data-size=""><a target="_blank" href="{{site.baseurl}}{{page.url}}" class="fb-xfbml-parse-ignore"></a></div>

    <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
    <script type="IN/Share" data-url="{{site.baseurl}}{{page.url}}"></script>
</div>
