---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro"
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import PostList from "../components/PostList.astro"

const posts = await getCollection("posts");

posts.forEach(post => {
    console.log(post.data.title)
})

---

<Layout title="Blogs | SDF">
    <Main>
        <H1 text = "My blog"/>
        <PostList posts={posts} />
    </Main>
</Layout>