---
const {text_size="3rem", m="0px", moving="false"} = Astro.props
let m_mod = `margin-left:${m};`
let options = "text-floating-sm sm:text-floating font-bold text-amber-600 my-[30vh]"
if (moving == "false"){
    options += " floatText"
}else{
    
    options += " floatTextMove"
}
console.log(options)

---


<div  class={options} style={m_mod}>
    <slot />
</div>


<style>
     
    .floatTextMove.show,
    .floatText.show {
            transform: translateX(0);
            opacity: 1;
        }

    .floatText {
        opacity: 0;
        padding: 0.5rem;
        transition: 2s;
    }

    .floatTextMove {
        opacity: 0;
        padding: 0.5rem;
        transform: translateX(20vw);
        transition: 2s;
    }
</style>