---
import SidebarIcon from "../components/SidebarIcon.astro"
---

<div class="fixed top-0 h-screen w-16 m-0 flex flex-col bg-stone-900 text-white shadow-lg">
    <SidebarIcon icon="ic:baseline-home" text="Home ðŸ " />
    <SidebarIcon icon="ic:baseline-notifications-active" text="Current Project ðŸ”§"/>
    <SidebarIcon icon="ic:baseline-forum" text="Blog ðŸ“–"/>
</div>
