---
import { Icon } from "astro-icon/components";
---

<div class="grid grid-cols-1 sm:grid-cols-3 rounded-3xl bg-atomic_1 m-10">
    <div class="flex flex-col items-center">
        <Icon name="simple-icons:unity" class="pb-3 size-20 md:size-24 2xl:size-28 "/>
        <Icon name="simple-icons:unity" class="pb-3 size-20 md:size-24 2xl:size-28 "/>
        <Icon name="simple-icons:unity" class="pb-3 size-20 md:size-24 2xl:size-28 "/>
    </div>
    <div class="flex flex-col items-center">
        <Icon name="simple-icons:unity" class="pb-3 size-20 md:size-24 2xl:size-28 "/>
    </div>
    <div class="flex flex-col items-center">
        <Icon name="simple-icons:unity" class="pb-3 size-20 md:size-24 2xl:size-28 "/>
    </div>
    



</div>